.dropdown {
    visibility: hidden;
    }

 .groupeGalerie {
    background-color: aqua;
    visibility: hidden;
}

body a .nav-link {
  visibility: hidden;  
}

body.index-page #myForm  {
   visibility:hidden;
}

  

    