.dropdown {
    visibility: hidden;
    }

 .groupeGalerie {
    background-color: aqua;
    visibility: hidden;
}

#menuGalerie {
   display: hidden;  
}

body.index-page #myForm  {
   visibility:hidden;
}

  

    