@media only screen and (min-width: 260px) and (max-width: 600px) {
  body {
    width: 100vw;
    background-color: rgb(185, 69, 43);
  }

  #app {
    margin: 0;
    /* font-size: 400px; */
    position: absolute;
    left: 10vw;
    top: 35vh;
    text-align: center;
    text-align: center;
    font-size: 5vw;
  }


  .carousel-inner {
    width: 149%;
    position: absolute;
    top: 35vh;
    left: -63vw;
  }

  
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #ddd;
    text-transform: uppercase;
  }
}