@media only screen and (min-width: 260px) and (max-width: 600px) {
  body {
    width: 100vw;
    background-color: rgb(185, 69, 43);
  }

  /* .navbar-expand-lg .navbar-collapse {
    display:list-item;
  } */

  #app {
    margin: 0;
    /* font-size: 400px; */
    position: absolute;
    left: 10vw;
    top: 35vh;
    text-align: center;
    text-align: center;
    font-size: 5vw;
  }

  .carousel-inner {
    width: 100%;
    position: absolute;
    top: 50vh;
    left: -25vw;
  }

  
}
