<footer id="footer" class="container-fluid sticky-footer copyright_section d-flex align-items-center justify-content-center pl-0 pr-0 " >
    <div class="row w-100 pl-0 pr-0">
        <div class="col-lg-6 col-sm-12 d-flex align-items-center justify-content-center boxRight pl-0 pr-0">
            <p class="fs">2023 All Rights Reserved. Design by <a href="https://html.design">Charles Cantin</a></p>
        </div>
        <div class="col-lg-6 col-sm-12 d-flex align-items-center justify-content-center pl-0 pr-0">
            <div class="footer_social_icon">
                <ul>
                    <li class=" m-4" ><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li  class=" m-4"><a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li class=" m-4"><a href="https://fr.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>